<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlockBase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52D2DC661CB53A4500618BE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52D2DC7F1CB53A4600618BE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52D2DC8A1CB53A4600618BE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
