<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreDataLearn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5273D50E1CA29BDC00571712</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5273D52A1CA29BDD00571712</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5273D5351CA29BDD00571712</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
